форма для добавления задачи: поле ввода и кнопка "добавить".
список добавленных задач: каждая задача имеет чекбокс слева и кнопку удаления справа.
при обновлении страницы показаны добавленные ранее задачи с прежними отметками.
